.dialogBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.dialogContent {
  position: fixed;
  z-index: 1;

  width: 30vw;
  min-width: 320px;
  max-width: 50vw;

  padding: 32px;
  margin: 8px;

  background-color: white;
  outline: 8px dotted var(--pink-9);
  border-radius: 4px;
  box-shadow: 0 0 0 12px #fff;
}
