body {
  margin: 0;
  font-family: "Bangers", serif;
  contain: paint;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
}
/* @link https://utopia.fyi/type/calculator?c=320,32,1.125,1680,48,1.25,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--1: clamp(1.7778rem, 1.6314rem + 0.732vw, 2.4rem);
  --step-0: clamp(2rem, 1.7647rem + 1.1765vw, 3rem);
  --step-1: clamp(2.25rem, 1.8971rem + 1.7647vw, 3.75rem);
  --step-2: clamp(2.5313rem, 2.0239rem + 2.5368vw, 4.6875rem);
  --step-3: clamp(2.8477rem, 2.139rem + 3.5432vw, 5.8594rem);
  --step-4: clamp(3.2036rem, 2.2341rem + 4.8478vw, 7.3242rem);
  --step-5: clamp(3.6041rem, 2.2979rem + 6.5308vw, 9.1553rem);
  --step-6: clamp(4.0546rem, 2.3159rem + 8.6936vw, 11.4441rem);
}

html {
  background-color: var(--blue-9);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  overflow: hidden;
}

.price {
  font-size: var(--step-5);
  color: var(--gray-1);
}

header {
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  opacity: 0.5;
}

.dogwifhat {
  width: 300px;
  height: 300px;
  user-select: none;
  pointer-events: none;
}
